{% extends 'base.html' %}
{% block content %}
        <!-- contservice -->
        <section id="contservice" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
                <h2>Manage Container Services</h2>
                <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Container</th>
                        <th>IP Address</th>
                        <th>State</th>
                        <th>Container Services</th>
                    </tr>
                </thead>
                <tbody>
                {% for h in hosts %}
                <tr>
                    <td><code>{{ h.id }}</code></td>
                    <td>{{ h.hostname }}</td>
                    <td>{{ h.ipaddress }}</td>
                    <td>{{ h.state }}</td>
                    <td><a href="contsvclist/{{ h.hostname }}/{{ h.id }}" class="button">Manage Services</a></td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
                <div class="features">
                    <section>
                        <span class="icon solid major fa-cog"></span>
                        <h3>Config Container Options</h3>
                        <p></p>
                    </section>
                </div>
            </div>
        </section>
{% endblock %}